<div class='row vh-100'>
    <div class='container rounded d-flex flex-row justify-content-center p-5 my-auto'>
        <div class='d-flex flex-column justify-content-around text-center'>
            <h3>Welcome to</h3>
            <h1>Snooz</h1>
            <p>Your personal health and activity tracker.</p>
            <button class='btn btn-primary' routerLink='/login' type='button'>Login</button>
            <button class='btn btn-light' routerLink='/signup' type='button'>Sign Up</button>
        </div>
    </div>
</div>

