<div class="modal-header bg-secondary text-white">
    <h4 class="modal-title">Add Medication</h4>
    <button type="button" class="close text-white" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!-- form starts here -->
    <form (ngSubmit)="addMedication()" #medicationForm="ngForm">
        <div class="form-group">
            <!-- name -->
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel"
               placeholder="e.g.: Tylenol">
               <!-- missing validation -->
        </div>
        <div class="form-group">
            <!-- dosage -->
            <label for="dosage">Dosage</label>
            <input type="number" class="form-control" id="dosage"
               required
               [(ngModel)]="model.dosage" name="dosage"
               #name="ngModel">
               <!-- missing validation -->
        </div>
        <div class="form-group">
            <!-- units -->
            <label for="unit">Unit</label>
            <select class="form-control" id="unit"
                    required
                    [(ngModel)]="model.unit" name="unit"
                    #unit="ngModel">
              <option *ngFor="let u of units" [value]="u">{{u}}</option>
            </select>
            <!-- missing validation -->
          </div>
          <div class="form-group">
            <label for="comments">Comments</label>
            <input type="textArea" class="form-control" id="comments"
                   [(ngModel)]="model.comment" name="comments" placeholder="e.g.: What is the medication for?">
          </div>
    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="addMedication()">Add</button>
</div>