<div class="modal-header bg-secondary text-white">
    <h4 class="modal-title">Add Medication</h4>
    <button (click)="activeModal.dismiss('Cross click')" aria-label="Close" class="close text-white" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!-- form starts here -->
    <form #medicationForm="ngForm" (ngSubmit)="addMedication()">
        <div class="form-group">
            <!-- name -->
            <label for="name">Name</label>
            <input #name="ngModel" [(ngModel)]="model.name" class="form-control"
                   id="name"
                   name="name" placeholder="e.g.: Tylenol"
                   required
                   type="text">
            <!-- missing validation -->
        </div>
        <div class="form-group">
            <!-- dosage -->
            <label for="dosage">Dosage</label>
            <input #name="ngModel" [(ngModel)]="model.dosage" class="form-control"
                   id="dosage"
                   name="dosage" required
                   type="number">
            <!-- missing validation -->
        </div>
        <div class="form-group">
            <!-- units -->
            <label for="unit">Unit</label>
            <select #unit="ngModel" [(ngModel)]="model.unit"
                    class="form-control"
                    id="unit" name="unit"
                    required>
                <option *ngFor="let u of units" [value]="u">{{u}}</option>
            </select>
            <!-- missing validation -->
        </div>
        <div class="form-group">
            <label for="comments">Comments</label>
            <input [(ngModel)]="model.comment" class="form-control" id="comments"
                   name="comments" placeholder="e.g.: What is the medication for?" type="textArea">
        </div>
    </form>

</div>
<div class="modal-footer">
    <button (click)="addMedication()" class="btn btn-primary" type="button">Add</button>
</div>
