<div class="form-check pb-2">
    <input *ngIf='!task.complete' class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="toggleComplete()">
    <input *ngIf='task.complete' class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked (click)="toggleComplete()">
    <div class='task-label'>
      <!-- title -->
      <div *ngIf='task.complete then strikeThrough else normal'></div>
      <ng-template #strikeThrough><h5><s>{{task.title}}</s></h5></ng-template>
      <ng-template #normal><h5>{{task.title}}</h5></ng-template>
      <!-- opt. info -->
      <div class='pl-3'>
        <!-- from and to time -->
      <div class='d-flex flex-row justify-content-start'>
        <p *ngIf='task.fromTime'>{{formatTime(task.fromTime)}}</p>
        <p *ngIf='task.toTime'>&nbsp;- {{formatTime(task.toTime)}}</p>
      </div>
      <!-- due date -->
      <p *ngIf='task.dueDate'><small>Due: {{formatDate(task.dueDate)}}</small></p>
      </div>
    </div>
  </div>