<div class='fixed-top' style='background-color: lightgray;'>
    <app-header></app-header>
    <nav class="nav d-flex flex-row justify-content-around nav-custom">
        <a [class]="isTasks()? 'nav-link active pl-3' : 'nav-link pl-3'" style='width: 50%;' (click)="setCurrentTab(1)"><h2>Tasks</h2></a>
        <a [class]="isHealth()? 'nav-link active pl-3' : 'nav-link pl-3'" style='width: 50%' (click)="setCurrentTab(0)"><h2>Health</h2></a>
    </nav>
</div>
<!-- /header -->
<div class='padding'></div>
<app-tasks *ngIf="isTasks()"></app-tasks>
<app-health *ngIf="isHealth()"></app-health>
<app-navbar [current]="currentNav"></app-navbar>
