<div class="modal-header bg-secondary text-white">
    <h4 class="modal-title">Edit Symptom</h4>
    <button (click)="activeModal.dismiss('Cross click')" aria-label="Close" class="close text-white" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!-- form starts here -->
    <form #symptomForm="ngForm" (ngSubmit)="editSymptom()">
        <div class="form-group">
            <!-- name -->
            <label for="name">Symptom</label>
            <input #name="ngModel" [(ngModel)]="model.name" class="form-control"
                   id="name" name="name"
                   placeholder="e.g.: Anxious" required
                   type="text">
            <!-- missing validation -->
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <select #type="ngModel" [(ngModel)]="model.type" class="form-control"
                    id="type" name="type"
                    required>
                <option *ngFor="let t of symptomType" [value]="t">{{t}}</option>
            </select>
        </div>

        <div class="form-group">
            <!-- units -->
            <label for="severity">Severity <br><small>(1 is lowest, 5 is highest)</small></label>
            <select #severity="ngModel" [(ngModel)]="model.severity" class="form-control"
                    id="severity" name="severity"
                    required>
                <option *ngFor="let s of severityLevels" [value]="s">{{s}}</option>
            </select>
            <!-- missing validation -->
        </div>

        <div class="form-group">
            <label for="comments">Comments</label>
            <input [(ngModel)]="model.comments" class="form-control" id="comments" name="comments" placeholder="e.g.: Why are you feeling this way?"
                   type="textArea">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button (click)="editSymptom()" class="btn btn-primary" type="button">Save</button>
</div>
