<div class='row vh-100'>
    <div class='container rounded d-flex flex-column justify-content-center p-5 my-auto'>
        <h1>Login</h1>
        <div class="mb-3">
            <input type="username" class="form-control" id="exampleFormControlInput1" placeholder="username">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="password">
        </div>
        <button type='button' class='btn btn-primary mb-3' routerLink='/today'>Login</button>
        <p class='text-center'>No account? Sign up for one <a routerLink='/signup'>here</a>. </p>
    </div>
</div>