<div class="modal-header bg-secondary text-white">
    <h4 class="modal-title">New Task</h4>
    <button type="button" class="close text-white" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form (ngSubmit)="addTask()"></form>
    <!-- title -->
    <div class='form-group'>
        <label for='title'>What do you need to do?</label>
        <input type="text" class="form-control" id="title"
               required
               [(ngModel)]="model.title" name="title"
               #title="ngModel">
    </div>
    <!-- TODO from and to date  -->
    <div class="form-group d-flex flex-row">
        <label for="fromTimeHour">Time</label>
        <select class="form-control" id="fromTimeHour"
                [(ngModel)]="model.fromTime.hours" name="fromTimeHour"
                #fromTimeHour="ngModel" placeholder='Hour'>
          <option *ngFor="let hour of hours" [value]="hour">{{hour}}</option>
        </select>
        <select class="form-control" id="fromTimeMinute"
                [(ngModel)]="model.fromTime.minutes" name="fromTimeMinute"
                #fromTimeMinute="ngModel" placeholder="Min">
          <option *ngFor="let min of minutes" [value]="min">{{min}}</option>
        </select>
    </div>
    <!-- TODO due date and time -->
    <!-- TODO category -->

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="addTask()">Add</button>
</div>