<div class='row vh-100'>
    <div class='container rounded d-flex flex-column justify-content-center p-5 my-auto'>
        <h1>Sign Up</h1>
        <form>
            <label for="name">Name</label>
            <div class="mb-3 form-row">
                <input class="form-control col mr-2" id="name" placeholder="First Name" type="text">
                <input class="form-control col" id="lastname" placeholder="Last Name" type="text">
            </div>
            <div class="mb-3">
                <label for="username">Username</label>
                <input class="form-control" id="username" placeholder="Username" type="username">
            </div>
            <div class="mb-3">
                <label for="password">Password</label>
                <input class="form-control" id="password" placeholder="Password" type="password">
            </div>
            <div class="mb-3">
                <label for="password">Confirm Password</label>
                <input class="form-control" id="password" placeholder="Confirm Password" type="password">
            </div>
            <div class="mb-3">
                <label for="dob">Date of Birth</label>
                <input class="form-control" id="dob" placeholder="MM/dd/YYYY" type="text">
            </div>
        </form>
        <button class='btn btn-primary mb-3' routerLink='/today' type='button'>Create Account</button>
        <p class='text-center'>Already have an account? Login <a routerLink='/login'>here</a>. </p>
    </div>
</div>
