<div class='row vh-100'>
    <div class='container rounded d-flex flex-column justify-content-center p-5 my-auto'>
        <h1>Sign Up</h1>
        <form>
            <label for="name">Name</label>
            <div class="mb-3 form-row">
                <input type="text" class="form-control col mr-2" id="name" placeholder="First Name">
                <input type="text" class="form-control col" id="lastname" placeholder="Last Name">
            </div>
            <div class="mb-3">
                <label for="username">Username</label>
                <input type="username" class="form-control" id="username" placeholder="Username">
            </div>
            <div class="mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="mb-3">
                <label for="password">Confirm Password</label>
                <input type="password" class="form-control" id="password" placeholder="Confirm Password">
            </div>
            <div class="mb-3">
                <label for="dob">Date of Birth</label>
                <input type="text" class="form-control" id="dob" placeholder="MM/dd/YYYY">
            </div>
        </form>
        <button type='button' class='btn btn-primary mb-3' routerLink='/today'>Create Account</button>
        <p class='text-center'>Already have an account? Login <a routerLink='/login'>here</a>. </p>
    </div>
</div>